<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900"
      rel="stylesheet"
    />
    <link
      rel="icon"
      href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/ear-of-maize_1f33d.png"
    />
    <link rel="stylesheet" href="style.css" />

    <title>🥭 আম বাজার 🥭</title>
  </head>

  <body>
    <div class="container">
      <div class="hero-section">
        <div class="hero-left">
          <h1 class="hero-left__title">🥭 আম বাজার 🥭</h1>
          <p>
            রসালো, মিষ্টি এই ফলকে ফলের রাজা বলা হয়। মিয়ানমার, বাংলাদেশ ও ভারতের
            উত্তরপূর্ব এলাকায় সেই প্রাচীন কাল থেকে এই ফল চাষ হচ্ছে। প্রায় ৫
            হাজার বছর আগে উপমহাদেশে আমের চাষ শুরু হয়। হিমসাগর, আম্রপালি,
            ল্যাংড়া, হাড়িভাঙ্গা, গোপালভোগের মতো বেশকিছু জাতের আম খুব জনপ্রিয়।
          </p>
        </div>
        <div class="hero-right"><img src="../hero.png" alt="" /></div>
      </div>

      <div class="cards-container">{%PRODUCT_CARDS%}</div>
    </div>

    <footer class="footer-section">
      <p class="emoji-center"><span class="emoji-icon">🧡</span></p>
      <h1 class="footer-title">🥭 আম বাজার 🥭</h1>
      <p class="footer-botoom">প্রকাশিত: ২৬ নভেম্বর ২০২২</p>
      <p class="footer-end">
        উদ্যোক্তা : <a href="https://github.com/chaudhuree">চৌধুরী</a>
      </p>
    </footer>
  </body>
</html>
